[submodule "YLocalization"]
	path = YLocalization
	url = git@github.com:AlexanderYunker1983/YLocalization.git
[submodule "YMugenExtensions"]
	path = YMugenExtensions
	url = git@github.com:AlexanderYunker1983/YMugenExtensions.git
